<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Pokédex - Result</title>
  </head>

  <body>
    <!-- Page title -->
    <h1>Pokédex Result</h1>

    {% if error %}
      <!-- Backend sets "error when pokemon can't be found -->
      <p>{{ error }}</p>
    {% else %}
      <!-- "pokemon" is passed in from Flask (a dict of details) -->
      <h2>{{ pokemon.name }}</h2>

      {% if pokemon.sprite %}
        <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }}">
      {% endif %}

      <p>Height: {{ pokemon.height}} </p>
      <p>Weight: {{ pokemon.weight}} </p>
      
      <!-- Types -->
       <h3>Type(s)</h3>
       <ul>
        {% for t in pokemon.types %}
          <li>{{ t }}</li>
        {% endfor %}
       </ul>

       <!-- Base stats -->
        <h3>Base Stats</h3>
        <ul>
          {% for stat in pokemon.stats %}
            <li>{{ stat.name }}: {{ stat.value }}</li>
          {% endfor %}
        </ul>

        <!-- Form to save Pokemon to favorites -->
        <form action="/favorites/add" method="post">

          <!-- Hidden input sends Pokemon name to backend -->
          <input type="hidden" name="name" value="{{ pokemon.name.lower() }}">

          <button type="submit">Save to Favorites</button>

        </form>
    {% endif %}

    <!-- Navigation link back to homepage -->
    <p><a href="/">Search again</a></p>
  </body>
</html>